.profile__profession {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 14px 0 0 46px;
    margin: 0;
    grid-area: profession;
}

@media all and (min-width: 768px) {
    .profile__profession {
        font-size: 18px;
        line-height: 22px;
    }
}

@media all and (min-width: 1280px) {
    .profile__profession {
        text-align: start;
    }
}