.gallery__like {
    /* background-color: #FFFFFF;
    border: 2px solid #FFFFFF; */
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.gallery__like:hover {
    Opacity: 50%;
}

 .gallery__like_active {
    background-color: #000000;
    color: #000000;
 }