.image-popup__close {
    all:unset;
    position: absolute;
    top: -32px;
    right: -32px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

 @media all and (min-width: 768px) {
    .image-popup__close {
        top: -40px;
        right: -40px;
    }
}

.image-popup__close:hover {
    opacity: 0.6;
} 