.form__close {
    all:unset;
    position: absolute;
    top: -32px;
    right: -0px;
    /* width: 20px; */
    /* height: 20px; */
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

@media all and (min-width: 520px) {
    .form__close {
        /* width: 32px;
        height: 32px; */
        top: -40px;
        right: -40px;
    }
}
.form__close:hover {
    opacity: 0.6;
}