image-popup__text {
    /* font-style: normal; */
    /* line-height: 14px; */
    /* letter-spacing: 1.5px; */
    /* text-transform: uppercase; */ */
    margin: 0;
    padding: 10px 0 0;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 400;
}