.body {
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.page {
    min-width: 320px;
    margin: 0 auto;
}

/* HEADER */

.header {

}

.header__logo {
    padding-top: 28px;
    padding-left: 27px;
}

.header__line {
    position: absolute;
    min-width: 320px;
    margin-top: 31.6px;
    opacity: 0.7;
    border: 1px solid #545454;
}


/* PROFILE */

.profile {
    display: flex;
    flex-direction: column;
    padding: 42px 19px 32px;
    align-items: center;
}

.profile__Avatar {
}

.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__info {

    width: 282px;
    display: flex;
}

.profile__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    padding-left: 46px;
    margin: 0;
}

.profile__edid_button {
    background-color: black;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}

.profile__profession {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 14px;
    margin: 0;
    text-align: end;
}

.profile__add_button {
    background-color: black;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    padding: 17px 133px;
    margin-top: 36px;
}


.gallery {
    
}

.gallery__cards {
    min-width: 282px;
    display: grid;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.gallery__card {
    list-style: none;
}

.gallery__image {
    border-radius: 10px 10px 0px 0px;
}

.gallery__text {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-left: 20px;
}

.gallery__like {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    margin-right: 20px;
}

.gallery__item {
    background-color: #fff;
    display: flex;
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
}