.body {
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.page {
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
}

@media all and (min-width: 768px) {
    .page {
        margin: 0 100px;
    }
}

@media all and (min-width: 1128px) {
    .page {
        margin: 0 150px;
    }
}

@media all and (min-width: 1280px) {
    .page {
        margin: 0 200px;
    }
}

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
}

.header__logo {
    padding-top: 28px;
    padding-left: 27px;
    width: 103.74px;
}

@media all and (min-width: 1024px) {
    .header__logo {
        padding-top: 45px;
        width: 142px;
    }
}

.header__line {
    /* position: absolute; */
    min-width: 320px;
    margin-top: 31.6px;
    opacity: 0.7;
    border: 1px solid #545454;
}

@media all and (min-width: 1280px) {
    .header__line {
        min-width: 880px;
        margin-top: 41px;
    }
}

/* POPUP */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
}

.popup_opened {
    display: flex;
}

.popup__content {
    max-width: 430px;
    width: calc(100% - 44px);
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 22px 25px;
    color: #000000;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media all and (min-width: 520px) {
    .popup__content {
        width: calc(100% - 72px);
        padding: 36px 34px;
    }
}

.popup__close {
    all:unset;
    position: absolute;
    top: -32px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-image: url(../pages/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

@media all and (min-width: 520px) {
    .popup__close {
        width: 32px;
        height: 32px;
        top: -32px;
        right: -32px;
    }
}

.popup__close:hover {
    opacity: 0.6;
}

.popup__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
}

@media all and (min-width: 475px) {
    .popup__title {
        font-size: 24px;
        line-height: 29px;
        text-align: start;
    }
}

.popup__form {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    row-gap: 43px;
}

.popup__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 13px 3px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #000000;
    min-width: 238px;
    color: #000000;
}

.popup__text::placeholder {
    color: #000000;
}

.popup__button {
    margin-top: 45px;
    padding: 14px 82px;
    background: #000000;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

@media all and (min-width: 475px) {
    .popup__button {
        margin-top: 48px;
        padding: 14px auto 18px;
        font-size: 18px;
        line-height: 22px;
    }
}

.popup__button:hover {
    opacity: 0.8;
}

/* PROFILE */

.profile {
    display: flex;
    flex-direction: column;
    padding: 42px 19px 32px;
    align-items: center;
}

@media all and (min-width: 768px) {
    .profile {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 0;
    }
}

.profile__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    .profile__cards {
        flex-direction: row;
    }
}

.profile__avatar {
    padding: 0;
    margin: 0;
}

.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

@media all and (min-width: 1280px) {
    .profile__info {
        min-width: 336px;
        padding-left: 30px;
    }
}

.profile__main {
    display: grid;
    grid-template-areas: 
    'name button'
    'profession .';
}

.profile__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    padding-left: 46px;
    margin: 0;
    grid-area: name;
}

@media all and (min-width: 1280px) {
    .profile__name {
        font-family: Inter;
        font-size: 42px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
    }
}

.profile__edid_button {
    margin: 0;
    background-color: black;
    border: none;
    cursor: pointer;
    padding-left: 10px;
    grid-area: button;
}

@media all and (min-width: 1280px) {
    .profile__edid_button {
        padding-left: 18px;
    }
}

.profile__edit_element {
    display: block;
}

.profile__profession {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 14px 0 0 46px;
    margin: 0;
    grid-area: profession;
}

@media all and (min-width: 768px) {
    .profile__profession {
        font-size: 18px;
        line-height: 22px;
    }
}

@media all and (min-width: 1280px) {
    .profile__profession {
        text-align: start;
    }
}

.profile__add_button {
    background-color: black;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    padding: 17px 133px;
    margin-top: 36px;
}

@media all and (min-width: 768px) {
    .profile__add_button {
        padding: 14px 64px;
    }
}

.profile__add_button:hover {
    opacity: 0.6;
}

/* GALLETY */

.gallery {
    padding-top: 16px;
}

@media all and (min-width: 1280px) {
    .gallery {
        padding-top: 36px;
    }
}

.gallery__cards {
    display: grid;
    justify-content: center;
    padding: 0px;
    margin: 0;
    row-gap: 20px;
}

@media all and (min-width: 600px) {
    .gallery__cards {
        grid-template-columns: repeat(2, min-content);
        grid-gap: 20px 17px;
    }
}

@media all and (min-width: 1024px) {
    .gallery__cards {
        grid-template-columns: repeat(3, min-content);
        grid-gap: 20px 17px;
    }
}

.gallery__card {
    list-style: none;
    min-width: 282px;
}

.gallery__image {
    border-radius: 10px 10px 0px 0px;
    width: 282px;
    height: 282px;
}

.gallery__item {
    background-color: #fff;
    display: flex;
    border-radius: 0 0 10px 10px;
    width: 286px;
}

.gallety__items {
    width: 246px;
    margin: 25px 20px 32px 21px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.gallery__text {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    /* margin-left: 20px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gallery__like {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    /* margin-right: 15px; */
    padding: 0;
    margin: 0;
}

/* FOOTER */

.footer {
    padding: 48px 19px 36px;
}

@media all and (min-width: 600px) {
    .footer {
        padding: 48px 0 36px;
    }
}

.footer__text {
    margin: 0;
    padding: 0;
    width: 282px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
}

@media all and (min-width: 600px) {
    .footer__text {
        font-size: 18px;
        line-height: 22px;
    }
}